.docsnav {

  position: fixed;
 
    width: 20%;
    height: 100%;
    
    //padding-top: 100px;
    background-color: #120f16;//#FFE644;
}

.docsnav_logo {
    //background-color:azure;
    padding-top: 40px;
    padding-bottom: 60px;
}

.docsnav_logo>img {
    display: block;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.docsnav_link_area{
    padding-left: 40px;
}
.docsnav_link {
    
    padding-bottom: 20px;
    cursor: pointer;
    
}

.docsnav_link>a {
    color:darkgray;
    font-family: "Bahnschrift";
    font-size: 20px;
    &:hover{
        color: rgb(230, 230, 230);
    }
}

.docsnav_back {
    cursor: pointer;
    padding-top: 40px;
    padding-left: 20px;
}

.docsnav_back>a {
    color:darkgray;
    font-family: "Bahnschrift";
    font-size: 16px;
    &:hover{
        color: rgb(230, 230, 230);
    }
}